.about{
    display: flex;
    padding: 20px 0;
    padding-top: 40px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 2200px;
    margin: 0 auto;
    min-height: 80vh;
    overflow: hidden;

    @media screen and (max-width: $desktopL){
        display: block;
    }

    .about__bio{
        width:  50%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 400px;
        padding: 15px;
        border-radius: 0 22px 22px 0;
        border-left: none;
        box-shadow: 0 0 5px $font-color;

        @media screen and (max-width: $desktopXL){
           height: 350px;
           width: 54%;
        }

        @media screen and (max-width: $desktop){
            height: 300px;
            width: 600px;
           }

        @media screen and (max-width: $mobileXL){
            width: 90%;
            border-radius: 22px;
            margin: 0 auto;
        }

        @media screen and (max-width: $mobileL){
            width: 60%;
            height: auto;
        }

        @media screen and (max-width: $mobile){
            width: 75%;
         }

        .bio__title{
            font-weight: bold;
            font-family: $digital-family;
            padding: 10px 0;
            flex-basis: 100%;
            text-align: center;
            height: 50px;
            color: gray;
            margin: 0 auto;
            width: 180px;
        }

        .bio__image{
           width: 20%;
           animation: morphing 10s infinite;
           background-image: url('../images/me2.jpg');
           background-size: cover;
           background-position: center;
           border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
            
            @media screen and (max-width: $mobileL){
                display: none;
            }
    
        }

        .bio__content{
            text-indent: 4%;
            flex-basis: 70%;
            padding-top: 2px;
            padding-left: 20px;
            font-size: 1.2rem;
            letter-spacing: 2px;

            @media screen and (max-width: $desktopXL){
               font-size: 1.1rem;
               letter-spacing: 1px;
             }

            @media screen and (max-width: $desktop){
                font-size: 1rem;
              }

              @media screen and (max-width: $mobileL){
               flex-basis: 90%;
               padding: 10px 0;
            }
    
        }
    }

    .about__technology{
        margin-top: 150px;
        width: 40%;
        height: 400px;
        margin-left: auto;
        padding: 15px;
        font-family: $digital-family;
        border-radius: 22px 0 0 22px;
        border-right: none;
        box-shadow: 0 0 5px $font-color;

        @media screen and (max-width: $desktopXL){
           height: 340px;
          }

          @media screen and (max-width: $desktopL){
            margin-top: -160px;
           }

          @media screen and (max-width: $desktop){
            margin-top: 35px;
            height: 280px;
            width: 620px;
        }

        @media screen and (max-width: $mobileXL){
            width: 90%;
            border-radius: 22px;
            margin: 0 auto;
            margin-top: 15vh;
        }

        @media screen and (max-width: $mobileL){
            width: 60%;
            height: auto;
         }

         @media screen and (max-width: $mobile){
            width: 75%;
         }

        .technology__title{
            font-weight: bold;
            height: 50px;
            color: gray;
            padding: 10px 0;
            text-align: center;
        }

        .technology__container{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 20px 0;
            width: 80%;
            margin: 0 auto;
            height: calc(100% - 50px);

            @media screen and (max-width: $desktopXL){
                width: 95%;
            }

            @media screen and (max-width: $mobileL){
                flex-direction: column;
                align-items: center;
             }

            .technology__element{
                height: 80px;
                flex-basis: 50%;
                display: flex;

                @media screen and (max-width: $desktopXL){
                   height: 68px;
                  }

                  @media screen and (max-width: $desktop){
                   flex-basis: 33%;
                   }

                @media screen and (max-width: $mobileL){
                    margin: 10px 0;
                    width: 70%;
                 }

                 @media screen and (max-width: $mobile){
                    flex-basis: 65px;
                 }


                img{
                    height: 100%;
                }

                p{
                    margin-left: 20px;
                    display: flex;
                    font-size: 1.7rem;
                    align-items: center;

                    @media screen and (max-width: $desktopXL){
                        font-size: 1.5rem;
                      }

                    span{
                        font-size: 1rem;
                        padding-left: 20px;
                        color: gray;

                        @media screen and (max-width: $desktopXXL){
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .about__languages{
        width: 30%;
        height: 200px;
        margin-right: auto;
        padding: 15px;
        font-family: $digital-family;
        border-radius: 0 22px 22px 0;
        border-right: none;
        box-shadow: 0 0 5px $font-color;
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: $desktopXL){
            width: 420px;
        }

        @media screen and (max-width: $desktop){
            margin-top: 40px;
           }

         @media screen and (max-width: $mobileXL){
            width: 280px;
            height: 350px;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 15vh;
        }

        @media screen and (max-width: $mobileXS){
            width: 75%
        }

        .languages__title{
            font-weight: bold;
            width: 100%;
            height: 50px;
            color: gray;
            padding: 10px 0;
            text-align: center;
        }

        .languages__lang{
            flex-basis: 50%;
            height: 90px;
            display: flex;
            align-items: center;
            font-weight: bold;

            @media screen and (max-width: $desktopXL){
                img{
                    height:90%;
                }
              }

              @media screen and (max-width: $mobileXL){
                flex-basis: auto;
                padding-left: 18px;
            }

            p{
                font-size: 1.3rem;
                padding-left: 5px;
                display: flex;
                flex-direction: column;

                @media screen and (max-width: $desktopXL){
                    font-size: 1.2rem;
                  }

                span{
                    font-size: 1rem;
                    color: gray;
                }
            }
        }
    }

    .about__services{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top:20vh;
        width: 100%;

        @media screen and (max-width: $desktopXL){
            margin-top: 10vh;
          }


          @media screen and (max-width: $mobileL){
            flex-direction: column;
            align-items: center;
         }

        .services__title{
            flex-basis: 100%;
            font-family: $digital-family;
            color: gray;
            margin-bottom: 40px;
            text-align: center;
        }

        .services__service{
            position: relative;
            flex-basis: 400px;
            height: 400px;
            box-shadow: 0 0 2px $font-color;
            border-radius: 22px;
            
            @media screen and (max-width: $desktopXL){
                margin-top: 80px;
                flex-basis: 300px;
                height: 300px;
            }

            @media screen and (max-width: $desktop){
                margin-top: 60px;
             }

             @media screen and (max-width: $mobileL){
                width: 300px;
                flex-basis: 300px;
             }

             @media screen and (max-width: $mobileS){
                width: 70vw;
                height: 70vw;
             }        

            img{
                position: absolute;
                top: 10%;
                height: 20%;
                left: 50%;
                transform: translateX(-50%);
            }

            .service__title{
                position: absolute;
                top: 35%;
                left: 50%;
                height: 10%;
                transform: translateX(-50%);
                text-transform: uppercase;
                font-weight: bold; 
                font-size: 2rem; 
                font-family: $digital-family;   
                
                @media screen and (max-width: $mobileS){
                    font-size: 1.7rem;
                 }     
            }

            .service__description{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 60%;
                text-align: center;
                font-size: 1.2rem;
                transform: translateX(-50%);

                @media screen and (max-width: $desktopXL){
                    font-size: 1.1rem;
                } 
    
            }
        }
    }
}

@keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    }
    25% { 
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
        border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
    }
    75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;		
    }
}
