.header__intro{
    position: relative;
    width: 60%;
    height: 280px;
    transition: 1s;
    transform: translateX(0);

    @media screen and (max-width: $desktop){
        width: 70%;
     }

     @media screen and (max-width: $mobileL){
        width: 78%;
     }

     @media screen and (max-width: $mobileS){
        width: 92%;
     }

    .intro__typing{
        position: absolute;
        top:0;
        left: 2%;
        width: 80%;
        height: 280px;
        color: $font-color;
        font-family: $digital-family, $font-family;
        font-weight: 400;

        @media screen and (max-height: 510px){
            display: none;
           }

        p{
            margin: 0;
            line-height: 150%;
            font-size: 1.8rem;
            text-shadow: 0 0 1px rgb(255, 255, 255);

            @media screen and (max-width: $desktopXL){
                font-size: 1.6rem;
             }

              @media screen and (max-width: $mobileXL){
               font-size: 1.4rem;
            }

            @media screen and (max-width: $mobileXS){
                font-size: 1.2rem;
                }

            @media screen and (max-width: $mobileXXS){
               font-size: 1rem;
               }

            &:nth-last-of-type(1)::after{
                content: "_";
                animation: cursor .36s infinite alternate;
            }

            &:nth-child(1){
                margin-bottom: 10px;
            }
        }
    }

    .intro__cv{
        cursor: pointer;
        position: absolute;
        background-color: transparent;
        border: none;
        bottom: 10%;
        right: 20%;
        opacity: 1;
        animation: showButton 1s linear;

        i{
            font-size: 3rem;
            color: rgba(196,168,10,0.88);
        }

        &--hiden{
            display: none;
            animation: none;
        }
    }

    &--hide{
        transform: translateX(-100%);
    }
}

@keyframes showButton{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes cursor {
    0%, 30%{
        opacity: 0;
    }
    70%, 100%{
        opacity: 1;
    }
}