.projects{
    margin-top: 10vh;
    min-height: 100vh;
    padding: 40px 10%;
    display: flex;
    flex-wrap: wrap;
    max-width: 2200px;
    margin: 0 auto;

    @media screen and (max-width: $desktopXL){
        margin-top: 60px
    }

    @media screen and (max-width: $mobileS){
       padding: 40px 2.5%;
     }     

    .projects__title{
        flex-basis: 100%;
        height: 100px;
        font-family: $digital-family;
        color: $title-color;
        text-align: center;
    }

    .projects__content{
        flex-basis: 80%;
        height: 100%;
        margin: 0 auto;
    }

    .projects__project{
        display: flex;
        width: 100%;
        height: 350px;
        margin-bottom: 50px;
        background-color: rgba(29, 29, 29, 0.561);
        border-radius: 10px;
        align-items: center;
        padding-left: 20px;
        box-shadow: 0 0 4px $font-color;

        @media screen and (max-width: $desktopXL){
            height: 320px;
         }

        @media screen and (max-width: $desktop){
            width: 60%;
            margin: 0 auto;
            height: 600px;
            margin-bottom: 60px;
            padding-left: 0;
            flex-direction: column;

            &:nth-last-child(1){
                margin-bottom: 10px;
            }
        }

        @media screen and (max-width: $mobileXL){
            width: 70%;
            height: auto;
            padding-bottom: 20px;
        }

        @media screen and (max-width: $mobileL){
           width: 78%;
         }

        @media screen and (max-width: $mobileM){
            width: 85%;
        }

        @media screen and (max-width: $mobile){
            width: 100%;
         }

        &--dm{
            box-shadow: 0 2px 4px 0 $dm-color;
        }

        img{
            height: 60%;

            @media screen and (max-width: $desktopL){
                height: 50%;
            }

            @media screen and (max-width: $desktop){
                width: 80%;
                padding: 15px 0;
                height: auto;
            }
        }

        .project__description{
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            width: 100%;
            height: 80%;
            padding-left: 20px;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: $desktop){
                padding: 0 20px;
            }

            .project__title{
                font-weight: bold;
                font-size: 2rem;
                letter-spacing: 2px;

                @media screen and (max-width: $desktopXL){
                    font-size: 1.8rem;
                 }

                 @media screen and (max-width: $desktop){
                   font-size: 1.7rem;
                } 
    
            }

            .project__technologies{
                display: flex;

                div{
                    margin: 15px 15px 15px 0;
                    background-color: $dm-color;
                    padding: 5px;
                    text-transform: uppercase;
                    font-weight: bold;
                    border-radius: 8px;

                    @media screen and (max-width: $desktopXL){
                        font-size: 0.9rem;
                     }
                }
            }
            
            .project__p{
                line-height: 150%;
                padding-right: 10px;
                color: $description-color;

                @media screen and (max-width: $desktopXL){
                    line-height: 120%;
                 }

                 @media screen and (max-width: $desktop){
                   margin-top: 5px;
                }
    
            }
            
            .project__buttons{
                width: 100%;
                display: flex;
                margin-top: 20px;

                @media screen and (max-width: $desktop){
                   flex-direction: column;
                }    

                button{
                    cursor: pointer;
                    background: transparent;
                    color: $font-color;
                    font-weight: bold;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    font-size: 1.1rem;  
                    border: 2px solid $description-color;
                    border-radius: 8px;                   
                    transition: .4s;

                    @media screen and (max-width: $desktopXL){
                        font-size: .9rem;
                     }

                     @media screen and (max-width: $desktop){
                        margin-bottom: 15px;
                    }        

                    a{
                        text-decoration: none;
                        color: $description-color;
                        transition: .4s;
                    }

                    &:nth-child(2){
                        margin-left: 40px;

                        @media screen and (max-width: $desktopL){
                            margin-left: 20px;
                         }

                         @media screen and (max-width: $desktop){
                           margin: 0;
                        }
            
                    }

                    &:hover{
                        border-color: $dm-color;
                        color: $dm-color;

                        a{
                            color: $dm-color;
                        }
    
                    }

                }
            }
        }
    }
}