.projects{
    margin-top: 10vh;
    min-height: 100vh;
    padding: 40px 10%;
    display: flex;
    flex-wrap: wrap;
    max-width: 2200px;
    margin: 0 auto;

    .projects__title{
        flex-basis: 100%;
        height: 100px;
        font-family: $digital-family;
        color: $title-color;
        text-align: center;
    }

    .projects__content{
        flex-basis: 80%;
        height: 100%;
        margin: 0 auto;
    }

    .projects__project{
        display: flex;
        width: 100%;
        height: 350px;
        margin-bottom: 50px;
        background-color: rgba(29, 29, 29, 0.561);
        border-radius: 10px;
        align-items: center;
        padding-left: 20px;
        box-shadow: 0 0 4px $font-color;

        @media screen and (max-width: $desktopXL){
            height: 320px;
         }

        &--dm{
            box-shadow: 0 2px 4px 0 $dm-color;
        }

        img{
            height: 60%;
        }

        .project__description{
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            width: 100%;
            height: 80%;
            padding-left: 20px;
            display: flex;
            flex-direction: column;

            .project__title{
                font-weight: bold;
                font-size: 2rem;
                letter-spacing: 2px;

                @media screen and (max-width: $desktopXL){
                    font-size: 1.8rem;
                 }
            }

            .project__technologies{
                display: flex;

                div{
                    margin: 15px 15px 15px 0;
                    background-color: $dm-color;
                    padding: 5px;
                    text-transform: uppercase;
                    font-weight: bold;
                    border-radius: 8px;

                    @media screen and (max-width: $desktopXL){
                        font-size: 0.9rem;
                     }
                }
            }
            
            .project__p{
                line-height: 150%;
                padding-right: 10px;
                color: $description-color;

                @media screen and (max-width: $desktopXL){
                    line-height: 120%;
                 }
            }
            
            .project__buttons{
                width: 100%;
                display: flex;
                margin-top: 20px;

                button{
                    cursor: pointer;
                    background: transparent;
                    color: $font-color;
                    font-weight: bold;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    font-size: 1.1rem;  
                    border: 2px solid $description-color;
                    border-radius: 8px;                   
                    transition: .4s;

                    @media screen and (max-width: $desktopXL){
                        font-size: .9rem;
                     }

                    a{
                        text-decoration: none;
                        color: $description-color;
                        transition: .4s;
                    }

                    &:nth-child(2){
                        margin-left: 40px;
                    }

                    &:hover{
                        border-color: $dm-color;
                        color: $dm-color;

                        a{
                            color: $dm-color;
                        }
    
                    }

                }
            }
        }
    }
}