@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;600&family=Roboto+Mono:wght@300;400;600&display=swap');

$font-color: #d8d8d8;
$font-family: 'Roboto Mono', Arial;
$digital-family: 'Handjet', Arial;
$base-font-size: 16px;
$contrast-color: #dfc849;
$base-bgc: #101010;
$description-color: rgb(177, 177, 177);
$dm-color: rgb(128, 128, 128);
$ccm-color: rgb(128, 128, 128);
$title-color: gray;

$desktopXXL: 1800px;
$desktopXL: 1400px;
$desktopL: 1220px;
$desktop: 1058px;

$mobileXL: 820px;
$mobileL: 680px;
$mobileM: 580px;
$mobile: 500px;
$mobileS: 440px;

$mobileXS: 390px;
$mobileXXS: 340px;