@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;600&family=Roboto+Mono:wght@300;400;600&display=swap');

$font-color: rgb(219, 219, 219);
$font-family: 'Roboto Mono', sans-serif;
$digital-family: 'Handjet', Arial;
$base-font-size: 16px;
$contrast-color: #dfc849;
$base-bgc: rgb(15, 15, 15);
$description-color: rgb(177, 177, 177);
$dm-color: #d3631e;
$title-color: gray;

$desktopXXL: 1800px;
$desktopXL: 1400px;
$desktopL: 1220px;
