@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

$font-color: rgb(219, 219, 219);
$font-family: 'Roboto Mono', sans-serif;
$base-font-size: 16px;
$contrast-color: rgb(122, 120, 0);
$base-bgc: rgb(15, 15, 15);

$desktopBraikpoint: 1000px;