@import 'variables';
@import 'intro';
@import 'cv';
@import 'header';
@import 'about';
@import 'projects';
@import 'contact';
@import 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scrollbar-width: none;
}

body{
    position: relative;
    -ms-overflow-style: none;
    color: $font-color;
    max-width: 100vw;
    font-size: $base-font-size;
    background-color: $base-bgc;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
display: none;
}

h2{
    font-size: 2.4rem;

    @media screen and (max-width: $desktopXL){
        font-size: 2.2rem;
    }
}

h1{
    font-size: 3rem;

    @media screen and (max-width: $desktopXL){
        font-size: 2.8rem;
    }
}

